body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*-------- HEADING --------*/

.hero {
    display: flex;
    flex-direction: column;
    padding: 5px 100px 100px 100px;
    color: #F9FAF8;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top > img {
    width: 30px;
}

.navs {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-container {
    display: flex;
    margin-top: 50px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.massive {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.header-container > img {
    width: 50%;
}

.header-info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

a {
    text-decoration: none;
    color: #F9FAF8;

}

.hero, footer {
    background-color: #1F2937;
}

.header-info > button {
    font-size: 18px;
    color: #F9FAF8;
    height: 40px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 10px;
}


/*-------- MAIN --------*/

.main-container {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}